.posts {

  display: flex;
  flex-wrap: wrap;

  min-height: 100vh;
  background-color: $color-bg-footer;

  .post {

    width: 100%;

    @media (min-width: $breakpoint-medium) {
      width: 50%;
    }

    @media (min-width: $breakpoint-large) {
      width: 40%;

      // https://developer.mozilla.org/fr/docs/Web/CSS/:nth-child
      // Ici je cible un groupe de 4 enfants: (4n
      // puis dans le groupe, je cible le numéro 2: +2)
      // ainsi que le numéro 3: +3)
      &:nth-child(4n+2),
      &:nth-child(4n+3) {
        width: 60%;
      }
    }
  }
}